@import url("https://cdn.jsdelivr.net/npm/jellyskin@latest/dist/main.css");
@import url("https://cdn.jsdelivr.net/npm/jellyskin@latest/dist/logo.css");

/* Logo */
.pageTitle {
    background-image: url(https://cdn.jsdelivr.net/gh/Carve/ratflix-styling@main/ratflix_logo.png);
    content: "";
}